<div id="home" class="banner" style="background-image: url('/images/bg3.jpg');">
    <div class="overlay"></div>
    <div class="banner-content">
    <div class="container">
        <div class="row">
        <div class="col-md-8 col-md-offset-1 text-left">
            <h1><span>Identity Card Generator</span></h1>
            <p>An Effective & Accurate identity card generating portal.....
            </p>
            <a href="/login" class="btn btn-success btn-lg page-scroll btn-flat"> Login </a>
            <a href="#get-started" class="btn btn-warning btn-lg page-scroll btn-flat" > Start </a>
        </div>
        </div>
    </div> 
    </div>
</div>

<div style="background-color: #f8f7f7; padding-bottom: 40px;" id="get-started">
    <div class="container text-center">
        <h3 style="margin: 50px"> Get Started </h3>

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <form action="/verify" method="POST" autocomplete="off">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" placeholder="First Name" required="required" name="fname" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" placeholder="Last Name" required="required" name="lname" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="email" placeholder="Email" required="required" name="email" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="password" placeholder="Password" required="required" name="pwd" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-2 col-sm-offset-5">
                            <button type="submit" class="btn btn-success btn-lg btn-flat btn-block btn-outline" style="margin-top: 20px;"> Proceed... </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>






<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <form role="form" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" name="fname" required="required"/>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="fname" required="required"/>
            </div>
            <div class="col-sm-12">
                <div class="form-group col-sm-6">
                    <a href="#reg" class="btn btn-default btn-outline btn-block"> Register </a>
                </div>
                <div class="form-group col-sm-6">
                    <button type="submit" class="btn btn-success btn-block active"> Login </button>
                </div>                
            </div>
        </form>
        <p> ojkfnvcikvlckvmkl </p>
      </div>
    </div>

  </div>
</div>




